<!-- begin::Header -->
<header class="m-grid__item		m-header"  data-minimize="minimize" data-minimize-offset="200" data-minimize-mobile-offset="200" appunwraptag="" >
	<div class="m-header__top">
		<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
			<div class="m-stack m-stack--ver m-stack--desktop">
				<!-- begin::Brand -->
				<div class="m-stack__item m-brand">
					<div class="m-stack m-stack--ver m-stack--desktop m-stack--general m-stack--inline">
						<div class="m-stack__item m-stack__item--middle m-brand__logo">
							<a routerLink="" class="m-brand__logo-wrapper">
								<img alt="" src="./assets/demo/demo2/media/img/logo/logo.png"/>
							</a>
						</div>
				
						
					    <div class="m-stack__item m-stack__item--middle  m-brand__tools">
							<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
								<span></span>
							</a>
					    </div>
					</div>
				</div>
				<!-- end::Brand -->		 				<!-- begin::Topbar -->
				<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
					<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
						<div class="m-stack__item m-topbar__nav-wrapper">
							 <ul class="m-topbar__nav m-nav m-nav--inline">
								<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
									<a href="#" class="m-nav__link m-dropdown__toggle">
										<span class="m-topbar__userpic m--hide">
											<img src="./assets/app/media/img/users/user-eng.png" class="m--img-rounded m--marginless m--img-centered" alt=""/>
										</span>
										<span class="m-topbar__welcome">
											Hello,&nbsp;
										</span>
										<span class="m-topbar__username">
											{{name}}
										</span>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
												<div class="m-card-user m-card-user--skin-dark">
													<div class="m-card-user__pic">
														<img src="./assets/app/media/img/users/user-eng.png" class="m--img-rounded m--marginless" alt=""/>
													</div>
													<div class="m-card-user__details">
														<span class="m-card-user__name m--font-weight-500">
															{{name}}
														</span>
														<a href="" class="m-card-user__email m--font-weight-300 m-link">
															{{email}}
														</a>
													</div>
												</div>
											</div>
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav m-nav--skin-light">
													
														<li class="m-nav__section m--hide">
															<span class="m-nav__section-text">
																Section
															</span>
														</li>
														<li class="m-nav__item">
															<a href="/profile?activeTab=edit" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-profile-1"></i>
																<span class="m-nav__link-title">
																	<span class="m-nav__link-wrap">
																		<span class="m-nav__link-text">
																			My Profile
																		</span>
																	</span>
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="/profile?activeTab=cases" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">
																	My Cases
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="/profile?activeTab=reset" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">
																	Reset Password
																</span>
															</a>
														</li> 
														<li class="m-nav__separator m-nav__separator--fit"></li>

													
														<li class="m-nav__item">
															<a routerLink="/snippets/pages/user/login-1" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerLink="/logout">
																Logout
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-header__bottom">
		<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
			<div class="m-stack m-stack--ver m-stack--desktop">
				<!-- begin::Horizontal Menu -->
				<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
					<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light" id="m_aside_header_menu_mobile_close_btn">
						<i class="la la-close"></i>
					</button>
					<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light">
						<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
								<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"   data-menu-submenu-toggle="click" aria-haspopup="true">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__item-here"></span>
											<span class="m-menu__link-text">
												Pinch Tool
											</span>
											<i class="m-menu__hor-arrow la la-angle-down"></i>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
											<span class="m-menu__arrow m-menu__arrow--adjust"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item"  data-redirect="true" aria-haspopup="true">
														<a  routerLink="/pinchV1/byStream" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-diagram"></i>
															<span class="m-menu__link-text">
																Stream Input
															</span>
														</a>
													</li>
												<li class="m-menu__item"  data-redirect="true" aria-haspopup="true">
													<a  routerLink="/pinchV1/byExchanger" class="m-menu__link">
														<i class="m-menu__link-icon flaticon-diagram"></i>
														<span class="m-menu__link-text">
															Heat Exchanger Input
														</span>
													</a>
												</li>
											</ul>
										</div>
								</li>
								<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"   data-menu-submenu-toggle="click" aria-haspopup="true">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__item-here"></span>
											<span class="m-menu__link-text">
												Samples
											</span>
											<i class="m-menu__hor-arrow la la-angle-down"></i>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
											<span class="m-menu__arrow m-menu__arrow--adjust"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
													<a  href="#" class="m-menu__link m-menu__toggle">
														<i class="m-menu__link-icon flaticon-graphic"></i>
														<span class="m-menu__link-text">
															Stream Input
														</span>
														<i class="m-menu__hor-arrow la la-angle-right"></i>
														<i class="m-menu__ver-arrow la la-angle-right"></i>
													</a>
													<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
														<span class="m-menu__arrow"></span>
														<ul class="m-menu__subnav">

															<li class="m-menu__item"  data-redirect="true" aria-haspopup="true">
																<a  (click)='V1Sample1()' class="m-menu__link">
																<i class="m-menu__link-icon flaticon-paper-plane"></i>
																	<span class="m-menu__link-text">
																		Sample 1
																	</span>
																</a>
															</li>

															<li class="m-menu__item"  data-redirect="true" aria-haspopup="true">
																	<a  (click)='V1Sample2()' class="m-menu__link">
																			<i class="m-menu__link-icon flaticon-paper-plane"></i>
																		<span class="m-menu__link-text">
																			Sample 2
																		</span>
																	</a>
															</li>
															<li class="m-menu__item"  data-redirect="true" aria-haspopup="true">
																<a  (click)='V1Sample4()' class="m-menu__link">
																		<i class="m-menu__link-icon flaticon-paper-plane"></i>
																	<span class="m-menu__link-text">
																		Sample 3
																	</span>
																</a>
														</li>

														</ul>
													</div>
												</li>
												<li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
														<a  href="#" class="m-menu__link m-menu__toggle">
															<i class="m-menu__link-icon flaticon-graphic"></i>
															<span class="m-menu__link-text">
																Heat Exchanger Input
															</span>
															<i class="m-menu__hor-arrow la la-angle-right"></i>
															<i class="m-menu__ver-arrow la la-angle-right"></i>
														</a>
														<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
															<span class="m-menu__arrow"></span>
															<ul class="m-menu__subnav">
																	<li class="m-menu__item"  data-redirect="true" aria-haspopup="true">
																			<a  (click)='V1Sample3()' class="m-menu__link">
																					<i class="m-menu__link-icon flaticon-paper-plane"></i>
																				<span class="m-menu__link-text">
																					Sample 1
																				</span>
																			</a>
																	</li>
															</ul>
														</div>
													</li>
											</ul>
										</div>
									</li>
									<li *ngIf="admin===true" class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"   data-menu-submenu-toggle="click" aria-haspopup="true">
										<a  routerLink="/AdminPanel" class="m-menu__link m-menu__toggle">
											<span class="m-menu__item-here"></span>
											<span class="m-menu__link-text">
												Admin Panel
											</span>
										</a>
								    </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- end::Header -->
