<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				My Profile
			</h3>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
			
				<!-- <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a> -->
				<!--
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
     			</div>-->

		 </div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-4">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper">
								<img src="./assets/app/media/img/users/user-eng1.png" alt=""/>
							</div>
						</div>
						<div class="m-card-profile__details">
							<span class="m-card-profile__name">
								{{Data.firstName}} {{Data.lastName}}
							</span>
							<a href="" class="m-card-profile__email m-link">
									{{Data.email}}
							</a>
						</div>
					</div>
					<!-- <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
						<li class="m-nav__separator m-nav__separator--fit"></li>
						<li class="m-nav__section m--hide">
							<span class="m-nav__section-text">
								Section
							</span>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-profile-1"></i>
								<span class="m-nav__link-title">
									<span class="m-nav__link-wrap">
										<span class="m-nav__link-text">
											My Profile
										</span>
										<span class="m-nav__link-badge">
											<span class="m-badge m-badge--success">
												2
											</span>
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-share"></i>
								<span class="m-nav__link-text">
									Activity
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-chat-1"></i>
								<span class="m-nav__link-text">
									Messages
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-graphic-2"></i>
								<span class="m-nav__link-text">
									Sales
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-time-3"></i>
								<span class="m-nav__link-text">
									Events
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-lifebuoy"></i>
								<span class="m-nav__link-text">
									Support
								</span>
							</a>
						</li>
					</ul>
					<div class="m-portlet__body-separator"></div> -->
					<!-- <div class="m-widget1 m-widget1--paddingless">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Member Profit
									</h3>
									<span class="m-widget1__desc">
										Awerage Weekly Profit
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-brand">
										+$17,800
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Orders
									</h3>
									<span class="m-widget1__desc">
										Weekly Customer Orders
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-danger">
										+1,800
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Issue Reports
									</h3>
									<span class="m-widget1__desc">
										System bugs and issues
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-success">
										-27,49%
									</span>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>



		<div class="col-lg-8">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_1" role="tab" [ngClass]="{'active':activeTab==='edit'}">
									<i class="flaticon-share m--hide"></i>
									Update Profile
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab" [ngClass]="{'active':activeTab==='reset'}">
									Reset Password
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab" [ngClass]="{'active':activeTab==='cases'}">
									My Cases
								</a>
							</li>
						</ul>
					</div>
					<!-- <div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item m-portlet__nav-item--last">
								<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
									<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
										<i class="la la-gear"></i>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav">
														<li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">
																	Create Post
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-chat-1"></i>
																<span class="m-nav__link-text">
																	Send Messages
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-multimedia-2"></i>
																<span class="m-nav__link-text">
																	Upload File
																</span>
															</a>
														</li>
														<li class="m-nav__section">
															<span class="m-nav__section-text">
																Useful Links
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-info"></i>
																<span class="m-nav__link-text">
																	FAQ
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">
																	Support
																</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
														<li class="m-nav__item m--hide">
															<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																Submit
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div> -->
				</div>
				<div class="tab-content">

					<div class="tab-pane" id="m_user_profile_tab_1" [ngClass]="{'active':activeTab==='edit'}">
						<form [formGroup]="EditProfileForm" (ngSubmit)="EditProfile(EditProfileForm.value)" class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
									</div>
								</div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Personal Details
										</h3>
									</div>
								</div>

								    <div class="form-group m-form__group row">
								    	<label for="example-text-input" class="col-2 col-form-label">
								    		First Name
								    	</label>
								    	<div class="col-7">
								    		<input formControlName="firstName" class="form-control m-input" type="text">
								    		<span class="m-form__help text text-danger" *ngIf="EditProfileForm.get('firstName').hasError('required')&&EditProfileForm.get('firstName').touched">
								    			First Name is required
								    		</span>
								    	</div>
									</div>
									<div class="form-group m-form__group row">
								    	<label for="example-text-input" class="col-2 col-form-label">
								    		Last Name
								    	</label>
								    	<div class="col-7">
								    		<input formControlName="lastName" class="form-control m-input" type="text">
								    		<span class="m-form__help text text-danger" *ngIf="EditProfileForm.get('lastName').hasError('required')&&EditProfileForm.get('lastName').touched">
								    			Last Name is required
								    		</span>
								    	</div>
									</div>
									<div class="form-group m-form__group row">
								    	<label for="example-text-input" class="col-2 col-form-label">
								    		User Name
								    	</label>
								    	<div class="col-7">
								    		<input formControlName="userName" class="form-control m-input" type="text" disabled>
								    		<span class="m-form__help" >
								    			Username can't be changed
								    		</span>
								    	</div>
									</div>
									<div class="form-group m-form__group row">
								    	<label for="example-text-input" class="col-2 col-form-label">
								    		Email
								    	</label>
								    	<div class="col-7">
								    		<input formControlName="email" class="form-control m-input" type="text" disabled>
								    		<span class="m-form__help">
								    			Email can't be changed
								    		</span>
								    	</div>
									</div>
									<div class="form-group m-form__group row">
								    	<label for="example-text-input" class="col-2 col-form-label">
								    		Company Name
								    	</label>
								    	<div class="col-7">
								    		<input formControlName="company" class="form-control m-input" type="text">
								    		<span class="m-form__help text text-danger" *ngIf="EditProfileForm.get('company').hasError('required')&&EditProfileForm.get('company').touched">
								    			Your company name is required
								    		</span>
								    	</div>
									</div>
									<div class="form-group m-form__group row">
								    	<label for="example-text-input" class="col-2 col-form-label">
								    		Position
								    	</label>
								    	<div class="col-7">
								    		<input formControlName="position" class="form-control m-input" type="text">
								    		<span class="m-form__help text text-danger" *ngIf="EditProfileForm.get('position').hasError('required')&&EditProfileForm.get('position').touched" >
								    			Your position in your company is required
								    		</span>
								    	</div>
								    </div>
									<div class="form-group m-form__group row">
								    	<label for="example-text-input" class="col-2 col-form-label">
								    		Country
								    	</label>
								    	<div class="col-7">
											<select formControlName="country" class="form-control btn-secondary btn-sm">
											    <option selected>
															{{ Data.country}}
												</option>
												<option *ngFor="let option of CountriesWithoutSelected" [value]="option.name">
												  {{ option.name }}
												</option>
											  </select>
								    		<span class="m-form__help text text-danger" *ngIf="EditProfileForm.get('country').hasError('required')&&EditProfileForm.get('country').touched">
								    			Country is required
								    		</span>
								    	</div>
								    </div>


							<!--	<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											2. Address
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Address
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="L-12-20 Vertex, Cybersquare">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										City
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="San Francisco">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										State
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="California">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Postcode
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="45000">
									</div>
								</div>
								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											3. Social Links
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Linkedin
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="www.linkedin.com/Mark.Andre">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Facebook
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="www.facebook.com/Mark.Andre">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Twitter
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="www.twitter.com/Mark.Andre">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Instagram
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="www.instagram.com/Mark.Andre">
									</div>
								</div> -->
							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button type="submit" [disabled]="!EditProfileForm.valid" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Save changes
											</button>
											&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="m_user_profile_tab_2" [ngClass]="{'active':activeTab==='reset'}">
							<form [formGroup]="ResetPasswordForm" (ngSubmit)="resetPassword(ResetPasswordForm.value)" class="m-form m-form--fit m-form--label-align-right">
									<div class="m-portlet__body">
										<div class="form-group m-form__group m--margin-top-10 m--hide">
											<div class="alert m-alert m-alert--default" role="alert">
												The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-10 ml-auto">
												<h3 class="m-form__section">
													Reset Password Form
												</h3>
											</div>
										</div>
										<div class="m-form__content" *ngIf=" resetPassSuccess!=='' " >
											<div class="m-alert m-alert--icon alert alert-success" role="alert" id="m_form_1_msg">
												<div class="m-alert__icon">
													<i class="la la-success"></i>
												</div>
												<div class="m-alert__text">
													 {{resetPassSuccess}}
												</div>			  	
											</div>
										</div>
										<div class="m-form__content" *ngIf=" resetPassErrors!=='' " >
											<div class="m-alert m-alert--icon alert alert-danger" role="alert" id="m_form_1_msg">
												<div class="m-alert__icon">
													<i class="la la-warning"></i>
												</div>
												<div class="m-alert__text">
													 {{resetPassErrors}}
												</div>			  	
											</div>
										</div>
		
											<div class="form-group m-form__group row">
												<label for="example-text-input" class="col-2 col-form-label">
													Current Password
												</label>
												<div class="col-7">
													<input formControlName="oldPassword" class="form-control m-input" type="password">
													<span class="m-form__help text text-danger" *ngIf="ResetPasswordForm.get('oldPassword').hasError('required')&&ResetPasswordForm.get('oldPassword').touched">
														Current Password is Required
													</span>
												</div>
											</div>
											<div class="form-group m-form__group row">
													<label for="example-text-input" class="col-2 col-form-label">
														New Password
													</label>
													<div class="col-7">
														<input formControlName="newPassword" class="form-control m-input" type="password">
														<span class="m-form__help text text-danger" *ngIf="ResetPasswordForm.get('newPassword').hasError('required')&&ResetPasswordForm.get('newPassword').touched">
															New Password is Required
														</span>
													</div>
											</div>
											<div class="form-group m-form__group row">
													<label for="example-text-input" class="col-2 col-form-label">
															Confirm New Password
													</label>
													<div class="col-7">
														<input formControlName="confirmNewPassword" class="form-control m-input" type="password">
														<span class="m-form__help text text-danger" *ngIf="ResetPasswordForm.get('confirmNewPassword').hasError('notEqual')">
															 Confirm Password doesn't match your new password
														</span>
													</div>
											</div>
	
									</div>
									<div class="m-portlet__foot m-portlet__foot--fit">
										<div class="m-form__actions">
											<div class="row">
												<div class="col-2"></div>
												<div class="col-7">
													<button type="submit" [disabled]="!ResetPasswordForm.valid" class="btn btn-accent m-btn m-btn--air m-btn--custom">
														Save changes
													</button>
													&nbsp;&nbsp;
													<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
														Cancel
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>

					</div>

					<div class="tab-pane" id="m_user_profile_tab_3" [ngClass]="{'active':activeTab==='cases'}">
						<div class="m-portlet__body">
						<table class="table m-table m-table--head-bg-brand">
							<thead>
							  <tr>
									<th>#</th>
									<th>Case Name</th>
									<th>Description</th>
									<th>Date Created</th>
									<th>Load Case</th>
									<th>Delete Case</th>
							  </tr>
							</thead>
							<tbody>
							  <tr *ngFor="let case of casesData; let i=index">
									<th scope="row">{{i+1}}</th>
									<td>{{case.CaseName}}</td>
									<td> 
										<textarea class="form-control m-input m-input--solid" rows="1" disabled>{{case.CaseDescription}}</textarea>
									</td>
									<td>{{case.CaseDate}}</td>
									<td>
										<button (click)="loadCase(case.Id)" class="btn m-btn btn-success m-btn--pill">Load</button>
									</td>
									<td>
										<a class="fa fa-trash-o" style="font-size:25px;color:#f66e84"
										[swal]="{ showCancelButton:true, title:'Delete  '+case.CaseName, text:'Are you sure?' }"
										(confirm)="deleteCase($event,case.Id)"
										>
								    	</a>
									</td>
							  </tr>
							  <tr *ngIf="(casesData !== undefined && casesData.length === 0)"><td colspan="4">You have no saved cases</td></tr>
							</tbody>
					    </table>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




