<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid">
				<div class="m-login__wrapper">

					<div class="m-login__logo">
						<a href="#">
							<img src="./assets/app/media/img//logos/logo-1.png">
						</a>
                    </div>
                    
					<div class="m-login__signin">

						<div class="m-login__head">
							<h3 class="m-login__title">
								This account has already been registered for ENPIRE account before
							</h3>
                        </div>
                        <!-- <div class="row m-login__form-sub">
                            <div class="m-login__form-action">
                                <a href={{ResetLink}} type="button" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="btn btn-brand m-btn m-btn--pill m-btn--custom m-btn--air">
                                    Reset Password
                                </a>
                            </div> 
                        </div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(./assets/app/media/img//bg/bg-8.jpg)">
		<div class="m-grid__item m-grid__item--middle">
			<h3 class="m-login__welcome">
				Enpire Pinch Tool
			</h3>
			<p class="m-login__msg">
				GapTech Energy
				<br>
				
			</p>
		</div>
	</div>
</div>
