.vs/Pinch Analysis/v15/Server/sqlite3/db.lock
/packages
/API/Scripts
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.lock
*.id
/.vs
/*/AppData
/*/Migrations
!/*/Migrations/*.cs
API/App_Data/PinchWebApi.OAuthContext.mdf
API/App_Data/PinchWebApi.OAuthContext_log.ldf
